@import "variables";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.song-card {
  transition: transform 0.3s;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    background: linear-gradient(145deg, #303030, #252525);

    .play-button-overlay {
      opacity: 0.8;
    }
  }
}

.play-button-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
}

.play-button {
  width: 48px;
  height: 48px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.offcanvas {
  --bs-offcanvas-width: 300px;
}

.offcanvas-backdrop.show {
  opacity: 0.8;
}

main {
  padding-top: 80px;
}

@media (max-width: 767px) {
  main {
    padding-top: 64px;
  }
}
