node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development
.env.test
.env.production

build/
dist/
out/

.cache/

.vscode/
.idea/

.DS_Store
*.log

*.tsbuildinfo

jspm_packages/

.eslintcache
.prettierignore

.npm

.node_repl_history

jest.config.js
jest.setup.js

*.js
*.js.map
*.css
*.css.map

baza.sqlite

docker/
Makefile